<ion-header>
  <ion-toolbar>
      <ion-title style="text-align: center;">Passwort vergessen</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <form [formGroup]="passwordForm" (keydown.enter)="send()">
      <ion-grid fixed>
          <ion-row>
              <ion-col size="12">
                  <ion-item>
                      <ion-label position="stacked">Email</ion-label>
                      <ion-input formControlName="email" type="text"></ion-input>
                  </ion-item>
              </ion-col>
              <ion-col size="12">
                  <ion-button (click)="send()" expand="block" [disabled]="!passwordForm.valid">
                      Senden
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </form>
</ion-content>
