<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center">Einkaufslisten</ion-title>
    <ion-button 
        fill="clear" 
        slot="end"
        color="primary"
        [href]="'/logout'">
        <ion-icon  slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar 
        placeholder="Einkaufsliste"
        [(ngModel)]="searchTerm"
        showCancelButton="focus"
        animated>
  </ion-searchbar>

  <ion-list *ngFor="let list of shoppingLists | async | filter:searchTerm">
      <ion-item (click)="openShoppingList(list)">
        <ion-label>{{ list.Name }}</ion-label>
        <ion-icon (click)="openShoppingList(list)" color="primary" name="arrow-up-circle-outline"></ion-icon>
        <ion-icon (click)="deleteShoppingList(list)" color="primary" name="trash-outline"></ion-icon>
      </ion-item>
  </ion-list>
  <ion-item (click)="shoppingListprompt()">
    <ion-icon color="primary" name="add-circle-outline"></ion-icon>
    Einkaufsliste hinzufügen
  </ion-item>
</ion-content>


